<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Song</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<p>
    <a href="/song">Song</a>
</p>

<form th:action="@{/song/save}" th:object="${songDto}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:errors="*{name}" class="text-danger"></td>
        </tr>
        <tr>
            <td>Artist:</td>
            <td><input type="text" th:field="*{artist}"/></td>
            <td th:errors="*{artist}" class="text-danger"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td><input type="text" th:field="*{category}"/></td>
            <td th:errors="*{category}" class="text-danger"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save song"></td>
        </tr>
    </table>
</form>
</body>
</html>