<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBlog">
            Add new Blog
        </button>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search"
                   th:value="${search}">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<h1>Blog</h1>
<p th:if="${message}">
    <span style="color: green" th:text="${message}"></span>
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>STT</th>
        <th>Category</th>
        <th>Title</th>
        <th>Content</th>
        <th>Author</th>
        <th>Date Start</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog, blogStat : ${blogList}">
        <td th:text="${blogStat.count} + ${blogList.number} * ${blogList.size}"></td>
        <td th:if="${blog.category}" th:text="${blog.category.name}"></td>
        <td th:unless="${blog.category}"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.author}"></td>
        <td th:text="${blog.dateStart}"></td>
        <td>
            <a th:attr="onclick=|infoEdit('${blog.id}','${blog.title}','${blog.content}','${blog.author}','${blog.dateStart}')|"
               class="edit btn btn-sm btn-primary" data-bs-toggle="modal" href="#editBlog">
                Edit
            </a>
        </td>
        <td>
            <a th:attr="onclick=|infoDelete('${blog.id}','${blog.title}')|"
               class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{'/blog'(page=${blogList.number - 1})}" th:if="${blogList.hasPrevious()}">Previous</a>
    <span th:text="${blogList.number + 1}"></span>/<span th:text="${blogList.totalPages}"></span>
    <a th:href="@{'/blog'(page=${blogList.number + 1})}" th:if="${blogList.hasNext()}">Next</a>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/blog/delete}" th:method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete blog</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input name="deleteId" hidden id="deleteId">
                    <pre>Are you want to delete blog ?</pre>
                    <pre style="color: darkred" id="deleteTitle"></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="addBlog" tabindex="-1" aria-labelledby="addBlogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="row" th:action="@{/blog/save}" th:object="${blog}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBlogLabel">Add Blog</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <label class="form-label">Category</label>
                        <select th:field="*{category}">
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Title</label>
                        <input type="text" placeholder="Title" th:field="*{title}"/>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Content</label>
                        <input type="text" placeholder="Content" th:field="*{content}"/>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Author</label>
                        <input type="text" placeholder="Author" th:field="*{author}"/>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Date Start</label>
                        <input type="date" placeholder="Date Start" th:field="*{dateStart}"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger btnAdd">Create Blog</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>


<!-- Modal Edit -->
<div class="modal fade" id="editBlog" tabindex="-1" aria-labelledby="editBlogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="row" th:action="@{/blog/update}" th:object="${blog}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="editBlogLabel">Edit Blog</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input th:type="hidden" id="idEdit" th:field="*{id}">
                    <div class="col-md-12">
                        <label class="form-label">Category</label>
                        <select th:field="*{category}">
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="(${blog.category}) and (${category.id} == *{category.id})"></option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Title</label>
                        <input type="text" id="titleEdit" th:field="*{title}"/>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Content</label>
                        <input type="text" id="contentEdit" th:field="*{content}"/>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Author</label>
                        <input type="text" id="authorEdit" th:field="*{author}"/>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Date Start</label>
                        <input type="date" id="dateStartEdit" th:field="*{dateStart}"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger btnAdd">Update Blog</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    function infoDelete(id, title) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteTitle").innerText = title;
    }

    function infoEdit(id, title, content, author, dateStart) {
        debugger
        document.getElementById("idEdit").value = id;
        document.getElementById("titleEdit").value = title;
        document.getElementById("contentEdit").value = content;
        document.getElementById("authorEdit").value = author;
        document.getElementById("dateStartEdit").value = dateStart;
    }
</script>
</html>