<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/home :: head">
</head>
<body>
<div id="main" class="vh-100">
    <div th:insert="/home :: header">
    </div>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a href="/facility/create" class="btn bg-secondary btn-sm">Add New Facility</a>
            <h1>Facility Management</h1>
            <form class="d-flex">
                <input class="form-control-sm me-2" type="search" name="name" placeholder="Name" th:value="${name}">
                <div class="form-control-sm me-2">
                    <select value="" type="search" name="facilityTypeName">
                        <option value="">Facility type</option>
                        <option th:each="facilityType : ${facilityTypeList}" th:value="${facilityType.name}"
                                th:text="${facilityType.name}" th:selected="${facilityTypeName == facilityType.name}"></option>
                    </select>
                </div>
                <button class="btn btn-primary btn-sm" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <center>
        <h2 th:if="${message != null}">
            <span style="color: green" th:text="${message}"></span>
        </h2>
    </center>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Name</th>
            <th scope="col">Area</th>
            <th scope="col">Cost</th>
            <th scope="col">Max people</th>
            <th scope="col">Standard Room</th>
            <th scope="col">Other convenience</th>
            <th scope="col">Facility free</th>
            <th scope="col">Pool area</th>
            <th scope="col">Number of floors</th>
            <th scope="col">Rent type</th>
            <th scope="col">Facility type</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="facilityView, facilityStatus : ${facilityViewPage}">
            <td th:text="${facilityStatus.count + facilityViewPage.number * facilityViewPage.size}"></td>
            <td th:text="${facilityView.name}"></td>
            <td th:text="${facilityView.area}"></td>
            <td th:text="${facilityView.cost}"></td>
            <td th:text="${facilityView.maxPeople}"></td>
            <td th:text="${facilityView.standardRoom}"></td>
            <td th:text="${facilityView.descriptionOtherConvenience}"></td>
            <td th:text="${facilityView.facilityFree != null} ? ${facilityView.facilityFree} : ''"></td>
            <td th:text="${facilityView.poolArea != 0} ? ${facilityView.poolArea} : ''"></td>
            <td th:text="${facilityView.numberOfFloor != 0} ? ${facilityView.numberOfFloor} : ''"></td>
            <td th:text="${facilityView.rentTypeName}"></td>
            <td th:text="${facilityView.facilityTypeName}"></td>
            <td>
                <a th:href="@{/facility/edit/__${facilityView.getId()}__}" class="btn btn-secondary btn-sm">Edit</a>
            </td>
            <td>
                <button type="button" th:attr="onclick=|infoDelete('${facilityView.id}','${facilityView.name}');|"
                        class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${facilityViewPage.totalPages > 1}">
        <div class="row col-sm-10 justify-content-end">
            <div class="col-sm-2">
                Total rows: [[${facilityViewPage.totalElements}]]
            </div>
            <div class="col-sm-1">
                <a class="btn btn-sm btn-light" th:href="@{/facility(page=${facilityViewPage.number - 1}, name = ${name}, facilityTypeName = ${facilityTypeName})}"
                   th:if="${facilityViewPage.hasPrevious()}">Previous</a>
            </div>
            <div class="col-sm-1">
                <span th:each="i : ${#numbers.sequence(1, facilityViewPage.totalPages)}">
                    <a class="text-danger" th:if="${(facilityViewPage.number + 1) != i}"
                       th:href="@{/facility(page=${i - 1}, name = ${name}, facilityTypeName = ${facilityTypeName})}">[[${i}]]</a>
                <span th:unless="${(facilityViewPage.number + 1) != i}">[[${i}]]</span>
                </span>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-sm btn-light" th:href="@{/facility(page=${facilityViewPage.number + 1}, name = ${name}, facilityTypeName = ${facilityTypeName})}"
                   th:if="${facilityViewPage.hasNext()}">Next</a>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete facility</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/facility/delete}" th:method="post">
                    <div class="modal-body">
                        <pre>Are you want to delete facility ?</pre>
                        <pre style="color: darkred" id="deleteName"></pre>
                    </div>
                    <div class="modal-footer">
                        <input name="deleteId" hidden id="deleteId">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:insert="/home :: footer">
    </div>
</div>
</body>
<script>
    function infoDelete(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }
</script>
</html>