<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/home :: head">
</head>
<body>
<div id="main" class="vh-100">
    <div th:insert="/home :: header">
    </div>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a href="/customer/create" class="btn bg-secondary btn-sm">Add New Customer</a>
            <h1>Customer Management</h1>
            <form class="d-flex">
                <input class="form-control-sm me-2" type="search" name="name" placeholder="Name" th:value="${name}">
                <input class="form-control-sm me-2" type="search" name="email" placeholder="Email" th:value="${email}">
                <div class="form-control-sm me-2">
                    <select value="" name="customerTypeId" th:value="${customerTypeId}">
                        <option th:each="customerType : ${customerTypeList}" th:value="${customerType.id}"
                                th:text="${customerType.name}"></option>
                    </select>
                </div>
                <button class="btn btn-primary btn-sm" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <center>
        <h2 th:if="${message != null}">
            <span style="color: green" th:text="${message}"></span>
        </h2>
    </center>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Gender</th>
            <th scope="col">Id Card</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Customer Type</th>
            <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer, customerStatus : ${customerViewPage}">
            <td th:text="${customerStatus.count + customerViewPage.number * customerViewPage.size}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.birthday}"></td>
            <td th:text="${customer.gender} ? 'Male' : 'Female'"></td>
            <td th:text="${customer.idCard}"></td>
            <td th:text="${customer.phoneNumber}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.customerType.name}"></td>
            <td th:text="${customer.address}"></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${customerViewPage.totalPages > 1}">
        <div class="row col-sm-10 justify-content-end">
            <div class="col-sm-2">
                Total rows: [[${customerViewPage.totalElements}]]
            </div>
            <div class="col-sm-1">
                <a class="btn btn-sm btn-light" th:href="@{'/customer'(page=${customerViewPage.number - 1})}"
                   th:if="${customerViewPage.hasPrevious()}">Previous</a>
            </div>
            <div class="col-sm-1">
                <span th:each="i : ${#numbers.sequence(1, customerViewPage.totalPages)}">
                    <a class="text-danger" th:if="${(customerViewPage.number + 1) != i}"  th:href="@{'/customer'(page=${i - 1})}">[[${i}]]</a>
                <span th:unless="${(customerViewPage.number + 1) != i}">[[${i}]]</span>
                </span>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-sm btn-light" th:href="@{'/customer'(page=${customerViewPage.number + 1})}"
                   th:if="${customerViewPage.hasNext()}">Next</a>
            </div>
        </div>
    </div>

         <div th:insert="/home :: footer">
    </div>
</div>
</body>
</html>