<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Customer Information</title>
</head>
<body>
<form action="/customer" method="post">
  <fieldset>
    <legend>Customer Information</legend>
    <input type="hidden" name="id" th:value="${customer.id}">
    <table>
      <tr>
        <td>Id</td>
        <td th:text="${customer.id}"></td>
      </tr>
      <tr>
        <td>First Name</td>
        <td>
          <input type="text" name="firstName" th:value="${customer.firstName}">
        </td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>
          <input type="text" name="lastName" th:value="${customer.lastName}">
        </td>
      </tr>
      <tr>
        <td>Province</td>
        <td>
          <select name="province">
            <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Update">
        </td>
      </tr>
    </table>
  </fieldset>
</form>
<a href="/customer">Back to list</a>.
</body>
</html>