<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Edit Product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>

<form th:action="@{/product/update}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="mb-3">
        <label th:for="name" class="form-label">Name</label>
        <input th:field="*{name}" />
    </div>
    <div class="mb-3">
        <label th:for="price" class="form-label">Price</label>
        <input th:field="*{price}" />
    </div>
    <div class="mb-3">
        <label th:for="description" class="form-label">Description</label>
        <input th:field="*{description}" />
    </div>
    <div class="mb-3">
        <label th:for="manufacture" class="form-label">Manufacture</label>
        <select th:field="*{manufacture}">
        <option th:each="item : ${manufactureList}" th:text="${item}" th:value="${item}"></option>
        </select>
    </div>
    <input type="submit" value="Update"/>
</form>
</body>
</html>