<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/layout :: head">
</head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div>
    <div>
        <label>Name:</label>
        <label th:text="${product.name}"></label>
    </div>
    <div>
        <label>Price:</label>
        <label th:text="${product.price}"></label>
    </div>
    <div>
        <label>Description:</label>
        <label th:text="${product.description}"></label>
    </div>
    <div>
        <label>Manufacture:</label>
        <label th:text="${product.manufacture}"></label>
    </div>
</div>
</body>
</html>