<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/home :: head">
</head>
<body>
<div id="main" class="vh-100">
    <div th:insert="/home :: header">
    </div>

    <nav class="navbar bg-light">
        <div class="container-fluid">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addContract">
                Add new Contract
            </button>
            <h1>Contract Management</h1>
            <form class="d-flex">
            </form>
        </div>
    </nav>

    <center>
        <h2 th:if="${message != null}">
            <span style="color: green" th:text="${message}"></span>
        </h2>
    </center>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Name facility</th>
            <th scope="col">Name customer</th>
            <th scope="col">Deposit</th>
            <th scope="col">DateStart</th>
            <th scope="col">DateEnd</th>
            <th scope="col">SumMoney</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract, contractStatus : ${contractViewPage}">
            <td th:text="${contractStatus.count + contractViewPage.number * contractViewPage.size}"></td>
            <td th:text="${contract.facilityName}"></td>
            <td th:text="${contract.customerName}"></td>
            <td th:text="${contract.deposit != 0} ? ${contract.deposit} : ''"></td>
            <td th:text="${contract.dateStart}"></td>
            <td th:text="${contract.dateEnd}"></td>
            <td th:text="${#numbers.formatDecimal(contract.sumMoney,6,0)}"></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${contractViewPage.totalPages > 1}">
        <div class="row col-sm-10 justify-content-end">
            <div class="col-sm-2">
                Total rows: [[${contractViewPage.totalElements}]]
            </div>
            <div class="col-sm-1">
                <a class="btn btn-sm btn-light" th:href="@{/contract(page=${contractViewPage.number - 1})}"
                   th:if="${contractViewPage.hasPrevious()}">Previous</a>
            </div>
            <div class="col-sm-1">
                <span th:each="i : ${#numbers.sequence(1, contractViewPage.totalPages)}">
                    <a class="text-danger" th:if="${(contractViewPage.number + 1) != i}"
                       th:href="@{/contract(page=${i - 1})}">[[${i}]]</a>
                <span th:unless="${(contractViewPage.number + 1) != i}">[[${i}]]</span>
                </span>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-sm btn-light" th:href="@{/contract(page=${contractViewPage.number + 1})}"
                   th:if="${contractViewPage.hasNext()}">Next</a>
            </div>
        </div>
    </div>

    <!-- Modal Add -->
    <div class="modal fade" id="addContract" tabindex="-1" aria-labelledby="addContractLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addContractLabel">Add Contract</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="row" th:action="@{/contract/save}" th:object="${contract}" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label th:for="dateStart" class="col-form-label">Date start</label>
                            <input type="date" class="form-control" th:field="*{dateStart}"/>
                        </div>
                        <div class="mb-3">
                            <label th:for="dateEnd" class="col-form-label">Date end</label>
                            <input type="date" class="form-control" th:field="*{dateEnd}"/>
                        </div>
                        <div class="mb-3">
                            <label th:for="deposit" class="col-form-label">Deposit</label>
                            <input type="text" class="form-control" th:field="*{deposit}"/>
                        </div>
                        <div class="mb-3">
                            <label th:for="customer" class="col-form-label">Customer</label>
                            <select class="custom-select form-control" th:field="*{customer}">
                                <option value="">Customer</option>
                                <option th:each="customer : ${customerList}" th:value="${customer.id}"
                                        th:text="${customer.name}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label th:for="employee" class="col-form-label">Employee</label>
                            <select class="custom-select form-control" th:field="*{employee}">
                                <option value="">Employee</option>
                                <option th:each="employee : ${employeeList}" th:value="${employee.id}"
                                        th:text="${employee.name}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label th:for="facility" class="col-form-label">Facility</label>
                            <select class="custom-select form-control" th:field="*{facility}">
                                <option value="">Facility</option>
                                <option th:each="facility : ${facilityList}" th:value="${facility.id}"
                                        th:text="${facility.name}"></option>
                            </select>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger btnAdd">Create contract</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div th:insert="/home :: footer">
    </div>
</div>
</body>
</html>